<mat-grid-list cols="3" rowHeight="500px">
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>PlayStation 5</mat-card-title>
              <mat-card-subtitle>Videoconsola + Videojuego </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="./../../assets/ps5.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Obtén el paquete PlayStation 5 + Horizon Forbidden West y únete a Aloy mientras se enfrenta a una nueva y peligrosa frontera en PS5.
                Experimente las tierras lejanas, las máquinas nuevas, las culturas ricas y los personajes llamativos del Oeste Prohibido con las funciones innovadoras de la consola PS5 y el controlador inalámbrico DualSense.
              </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Xbox Series X</mat-card-title>
              <mat-card-subtitle>Incluye videoconsola + mando</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="./../../assets/xboxSeriesX.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                La Xbox Series X es una consola de videojuegos de alta gama desarrollada por Microsoft, que se caracteriza por su potente procesador, tecnología de trazado de rayos, y capacidades de refrigeración avanzadas. Con 12 teraflops de potencia de procesamiento gráfico, la Xbox Series X es capaz de ofrecer gráficos impresionantes y una experiencia de juego fluida.
              </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
