<div class="container">
  <form action="">
  <mat-form-field id="company">
    <mat-label>Compañía</mat-label>
    <input matInput />
  </mat-form-field>

  <br />

  <mat-form-field id="name">
    <mat-label>Nombre</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field id="surname">
    <mat-label>Apellidos</mat-label>
    <input matInput />
  </mat-form-field>

  <br />

  <mat-form-field id="address1">
    <mat-label>Dirección</mat-label>
    <input matInput />
  </mat-form-field>

  <br />

  <mat-form-field id="address2">
    <mat-label>Dirección Alternativa</mat-label>
    <input matInput />
  </mat-form-field>

  <br />

  <mat-form-field id="city">
    <mat-label>Ciudad</mat-label>
    <input matInput placeholder="Ej: Barcelona"/>
  </mat-form-field>
  <mat-form-field id="state">
    <mat-label>Provincia</mat-label>
    <input matInput placeholder="Ej: Cádiz"/>
  </mat-form-field>
  <mat-form-field id="postal_code">
    <mat-label>Código Postal</mat-label>
    <input matInput placeholder="Ej: 11630" />
  </mat-form-field>

  <br />
  <div class="boton">
    <button mat-raised-button color="primary">Enviar</button>
  </div>
</form>
</div>
